{{ define "main" }}
<div class="fondo-contacto">
  <div class="contenido">
    <h1>Próximas fiestas</h1>

    <h2>¡San FIC!</h2>
    <img src="{{ "images/sanfic.png" | relURL }}" alt="Fiesta San FIC" class="imagen-fiesta">

    <h1>Anteriores fiestas</h1>

    <h2>Fiesta 15-10-2024</h2>
    <p>Previa + Fiesta (temática glitter)</p>
    <img src="{{ "images/fiesta_glitter.png" | relURL }}" alt="Fiesta temática glitter" class="imagen-fiesta">

    <h2>Fiesta 07-03-2024</h2>
    <p>Cena + Fiesta (temática neon)</p>
    <img src="{{ "images/fiesta_neon.png" | relURL }}" alt="Fiesta temática neon" class="imagen-fiesta">

    <h2>Fiesta 30-11-2023</h2>
    <p>Cena + Fiesta (1º fiesta del paso)</p>
    <img src="{{ "images/primera_fiesta.png" | relURL }}" alt="Primera fiesta paso fic" class="imagen-fiesta">
    
  </div>
</div>
{{ end }}
