{{ define "main" }}
<div class="fondo-contacto">
  <div class="contenido">
    <h1>Fotones de fiestas</h1>

    <div class="evento-fiesta">
    <h2>Fiesta 15-10-2024</h2>
    <img src="{{ "images/foto_fiesta1.png" | relURL }}" alt="Galería de Fotos 15-10-2024" class="imagen-galeria">
    <p>
        <a href="https://drive.google.com/drive/folders/1-CVp1Qn8K_K-71AE7JRCkuwlqqFjXtXQ?usp=drive_link" target="_blank" class="enlace-drive">
          Ver todas las fotos en Google Drive
        </a>
      </p>
    </div>

    <div class="evento-fiesta">
      <h2>Fiesta 07-03-2024</h2>
    <img src="{{ "images/foto_fiesta2.png" | relURL }}" alt="Galería de Fotos 07-03-2024" class="imagen-galeria">
    <p>
        <a href="https://drive.google.com/drive/folders/1-6SOrnsT1lo195LGMdvmTHx_CIj6zUtK?usp=drive_link" target="_blank" class="enlace-drive">
          Ver todas las fotos en Google Drive
        </a>
      </p>
    </div>

    <div class="evento-fiesta">
      <h2>Fiesta 30-10-2023</h2>
    <img src="{{ "images/foto_fiesta3.png" | relURL }}" alt="Galería de Fotos 30-10-2023" class="imagen-galeria">
    <p>
        <a href="https://drive.google.com/drive/folders/1-4_oW5cMKWSP8w41fh_kIXO4eMNujGtu?usp=drive_link" target="_blank" class="enlace-drive">
          Ver todas las fotos en Google Drive
        </a>
      </p>
  </div>

  <div class="evento-fiesta">
      <h2>Fotos gafas</h2>
    <img src="{{ "images/foto_fiesta4.png" | relURL }}" alt="Galería de Fotos con gafas" class="imagen-galeria">
    <p>
        <a href="https://drive.google.com/drive/folders/1V-9uqxuMTGS3nQdrhOpQ2WfX59TNshBY?usp=drive_link" target="_blank" class="enlace-drive">
          Ver todas las fotos en Google Drive
        </a>
      </p>
  </div>

  </div>
</div>
{{ end }}
