{{ define "main" }}
<div class="fondo-contacto">
  <div class="contenido">
    <h1>Contacto:</h1>
    <p>Redes sociales: @pasofic_udc</p>
    <p>Mail: <a href="mailto:pasoficudc@gmail.com">pasoficudc@gmail.com</a></p>
    <p>Teléfono 1: <a href="https://wa.me/34630058283?text=Hola,%20quería%20contactar%20con%20Paso%20Fic,%20las%20reinas%20de%20la%20fiesta%20y%20la%20diversión%20">630 05 82 83</a></p>
    <p>Teléfono 2: <a href="https://wa.me/34684280621?text=Hola,%20quería%20contactar%20con%20Paso%20Fic,%20las%20reinas%20de%20la%20fiesta%20y%20la%20diversión%20">684 28 06 21</a></p>

    <h1>Método de Pago:</h1>
    <p>Número de cuenta: <code>ES19 2080 0000 7430 4028 6406</code></p>
    <p>Bizum a los números:</p>
    <ul>
        <li><a href="tel:+34630058283">630 05 82 83</a></li>
        <li><a href="tel:+34684280621">684 28 06 21</a></li>
    </ul>
  </div>
</div>
{{ end }}
