{{ define "main" }}
<div class="fondo-contacto">
  <div class="contenido">
    <h1>Merchandising</h1>

    <h2>Pulseras: 2€</h2>
    <div class="lista-pulseras">
    
        <div class="pulsera">
            <h3>Pulsera Electra</h3>
            <img src="{{ "images/pulsera_azul.png" | relURL }}" alt="Pulsera Electra" class="imagen-pulsera">
        </div>
    
        <div class="pulsera">
            <h3>Pulsera Sharpay</h3>
            <img src="{{ "images/pulsera_rosa.png" | relURL }}" alt="Pulsera Sharpay" class="imagen-pulsera">
        </div>
    
        <div class="pulsera"> 
            <h3>Pulsera Guayaba</h3>
            <img src="{{ "images/pulsera_verde.png" | relURL }}" alt="Pulsera Guayaba" class="imagen-pulsera">
        </div>

        <div class="pulsera">
            <h3>Pulsera Ursula</h3>
            <img src="{{ "images/pulsera_morada.png" | relURL }}" alt="Pulsera Ursula" class="imagen-pulsera">
        </div>
    
        <p>¡Pronto más merchandising!</p>

    </div>

    

  </div>
</div>
{{ end }}
