{{ define "main" }}
<div class="fondo-contacto">
  <div class="contenido">
    <h1>¿Qué es pasofic?</h1>
    <p> Pasofic somos la auténtica alma fiestera de la Facultad de Informática de A Coruña. Aquí no solo venimos a programar y sacar apuntes de última hora, 
        también organizamos fiestas épicas, eventos legendarios y todo tipo de movidas para que la uni no sea solo estudiar. 
        Si quieres conocer gente, pasarlo de lujo y disfrutar de la mejor comunidad estudiantil, este es tu sitio. 
        ¡Anímate a venir a las fiestas y que no te lo cuenten!</p>

    <h1>Nuestro Lema:</h1>
    <p>"Un paso de la facultad, a dos pasos de la barra"</p>

    <h1>Nuestros valores:</h1>
    <p>Ser de Pasofic es saber que la vida universitaria no solo se trata de estudiar (aunque, bueno, a veces toca). 
        Nos gusta la fiesta, la buena compañía y aprovechar cada momento, pero siempre con valores que nos definen y 
        nos hacen más que un simple grupo:</p>
    <ul>
        <li>Compañerismo: Nunca dejamos a un compañero atrás… salvo en los parciales, ahí ya es tema de cada uno.</li>
        <li>Equilibrio: Sabemos alternar entre la barra del bar y la biblioteca, aunque a veces confundimos los horarios.</li>
        <li>Diversión responsable: La fiesta nos une, pero sabemos cuándo es hora de poner los apuntes sobre la mesa (aunque sea para apoyar la cerveza).</li>
    </ul>
  </div>
</div>
{{ end }}
